html, body{
    padding: 0;
    margin: 0;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


#app{
    /* width: 100vh; */
    min-height: 100vh;
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-width: 1em;
    background-color: brown;
    margin: 0;
    padding: 0;
}

#pages{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    background-color: aqua;
    justify-content: space-between;
}
#page_r, #page_l{
    position: absolute;

    flex: 1 0 auto;
    background-color: coral;
    min-width: 5em;

    border-width: .2em;
    border-color: rgb(0, 228, 49);
    border-style: solid;
    justify-self: stretch;

    /* display: flex; */
    justify-content: space-between;
}
#page_l{
    justify-content: flex-end;
}
img{
    /* flex: 0 0 auto; */
    max-width: 100%;
    height: auto;
    min-height: 30em;
    background-color: darkcyan;
    border-width: .3em;
    border-style: solid;
    border-color: rgb(95, 42, 165);
}

.zoom{
    transition: transform .3s;
}
.zoom:hover {
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2.5);
  }